
/* General */

body {
    font-family: 'Roboto','Helvetica Neue',Arial,sans-serif;
    background-color: #F3F3F1;
}

section.bg-dark.bg-image {
    text-shadow: 0px 0px 25px rgb(0, 0, 0);
    background: none;
}

section img {
    max-width: 100%;
}

.no-mg-btm {
    margin-bottom: 0;
}

.mg-top-25 {
    margin-top: 25px;
}


.mg-top-50 {
    margin-top: 50px;
}

ul.no-bullets {
    padding: 0;
}

ul.no-bullets li {
    list-style-type: none;
}

.chart-loader {
    width: 50px;
    margin: 0 auto;
    text-align: center;
}

/* color overrides */

hr {
    border-color: #BF364A;
}

.text-primary, a {
    color: #BF364A;
}

a:hover, a:focus {
    color: #A51C30;
}


.bg-primary {
    background-color: #A51C30;
}

.bg-dark {
    color: #fff;
    background-color: #293352;
}

.btn-primary {
    border-color: #A51C30;
    color: #fff;
    background-color: #A51C30;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background-color: #BF364A;
}

.navbar-default {
    border-color: rgba(34,34,34,.05);
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.navbar-default .navbar-header .navbar-brand {
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
    color: #BF364A;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #BF364A;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #222;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #BF364A;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #BF364A!important;
    background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color: transparent;
}

@media(min-width:768px) {
    .navbar-default {
        border-color: transparent;
        background-color: transparent;
    }

    .navbar-default .navbar-header .navbar-brand {
        color: rgba(255,255,255,.7);
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #fff;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: rgba(255,255,255,.7);
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #fff;
    }

    .navbar-default.affix {
        border-color: rgba(34,34,34,.05);
        background-color: #fff;
        -webkit-box-shadow: 0px 1px 0px 0px rgba(34,34,34,0.25);
        -moz-box-shadow: 0px 1px 0px 0px rgba(34,34,34,0.25);
        box-shadow: 0px 1px 0px 0px rgba(34,34,34,0.25);
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 14px;
        color: #A51C30;
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #BF364A;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #222;
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #BF364A;
    }
}

/* Navbar */

.navbar-logo {
    background-image: url(../img/logo/HKSlogo_ash_test.png);
    background-repeat: no-repeat;
    width: 191px;
    height: 36px;
    display: block;
    margin: 7px 0 0 15px;
}

@media (min-width: 768px) {

    .navbar-logo {
        margin: 7px 0 0 0;
    }

    .navbar:not(.affix):not(.dark)  .navbar-logo {
        background-image: url(../img/logo/HKSlogo_ash_white_test.png);
        height: 88px;
    }

    .navbar.dark .navbar-logo {
        background-image: url(../img/logo/HKSlogo_ash_test.png) !important;
    }

    .navbar-nav>li>a>span.menu-btn {
        border: 1px solid rgba(255,255,255,.7);
        border-radius: 3px;
        padding: 5px 7px;
        margin: 8px 0 8px -8px;
    }

    .navbar-default.dark {
        border-color: #e7e7e7;
    }

    .navbar-default.dark .navbar-header .navbar-brand,
    .navbar-default.dark .nav>li>a,
    .navbar-default.dark .nav>li>a:focus:hover {
        color: #222;
    }

    .navbar-default.dark.affix .navbar-header .navbar-brand,
    .navbar-default.dark .navbar-header .navbar-brand:hover,
    .navbar-default.dark .nav>li>a:hover  {
        color: #A51C30;;
    }

    .navbar-default.dark .nav>li>a>span.menu-btn {
        border: 1px solid #222;
    }

        .navbar-default.dark .nav>li>a:hover>span.menu-btn {
            border-color: #A51C30;; 
        }

    .navbar-default.dark .nav>li>a>span.menu-btn:hover {
        border-color: #A51C30;
    }

    .navbar-default.dark.affix .nav>li>a>span.menu-btn {
        border-color: transparent;
    }

}

.navbar.dark {
    border-color: rgba(34,34,34,.05);
    background-color: #fff;
    -webkit-box-shadow: 0px 1px 0px 0px rgba(34,34,34,0.25);
    -moz-box-shadow: 0px 1px 0px 0px rgba(34,34,34,0.25);
    box-shadow: 0px 1px 0px 0px rgba(34,34,34,0.25);
}

/* Header (used only on main page) */

header {
    background-image: url(../img/home/temple_of_heaven.jpg);
}

header .header-content .header-content-inner p {
    font-weight: 400;
    color: rgba(255,255,255,.85);
}

header .header-content a.btn {
    margin: 5px 20px;
}

.lrn-mr-btn {
    color: rgba(255,255,255,.7);
    font-size: 14px;
    margin: 50px 0 0 -50px;
    display: inline-block;
    position: absolute;
    width: 100px;
    left: 50%;
}

.lrn-mr-btn:hover, .lrn-mr-btn:focus {
    color: rgba(255,255,255,1);
}

/* Footer */

footer.site-footer {
    padding: 50px 0;
    background-color: #fff;
}

footer.site-footer .row {
    text-align: center;
}

footer.site-footer .row .footer-copy-text {
    margin-bottom: 30px;
}

@media (min-width: 768px) {

    footer.site-footer .row {
        text-align: left;
    }

}

/* Main page sections */

/* Overview */

section.overview .metrics p.metric-lg {
    font-size: 5rem;
    font-weight: 300;
}

section.overview .key-findings {
    font-size: 16px;
}

section.bg-image.overview div.background-image {
    background-image: url(../img/home/shanghai.jpg);
}

/* Generous section */

.service-box img.person {
    max-width: 100%;
    margin: 20px 0;
}

/* Location */

section.bg-image {
    position: relative;
    overflow: hidden;
}

section.bg-image div.background-image {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

}

section.bg-image:hover div.background-image.zoomable {
    transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
}

section.bg-image.location div.background-image {
    background-image: url(../img/home/east_pacific.jpg);
}

/* Industry, sector */

@media (max-width: 768px) {

    .row#equalcols [class*="col-"] {
        height: auto !important;
    }

}

section.bg-image.top-industry div.background-image {
    background-image: url(../img/home/construction.jpg);
}

section.bg-image.hot-sector div.background-image {
    background-image: url(../img/home/university.jpg);
}

/* Government */

section.bg-image.government div.background-image {
    background-image: url(../img/home/national_congress.jpg);
}

/* Gender inequality */

@media (min-width: 768px) {

    .row.pull-down-wrapper {
        display: flex;
    }  

    div.pull-down {
        align-self: flex-end;
    }

}

/* Charts page */
/* Charts */

section.charts {
    padding-bottom: 0;
}

section.charts .container-fluid.charts-container {
    overflow-x: hidden;
}

.fix-charts #charts-container {
    position: fixed;
    top: 50px;
    padding-top: 10px;
    z-index: 1;
    background-color: rgba(255,255,255,0.95);
    -webkit-box-shadow: 0px 2px 0px 0px rgba(34,34,34,0.15);
    -moz-box-shadow: 0px 2px 0px 0px rgba(34,34,34,0.15);
    box-shadow: 0px 2px 0px 0px rgba(34,34,34,0.15);
}

.fix-charts #charts-container.closed,
.fix-charts #charts-container.reopened {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.fix-charts #charts-container.closed {
    top: -310px;
}

.charts-toggle {
    position: absolute;
    top: 0;
    right: 10px;
    width: 30px;
    text-align: center;
    display: none;
}

.fix-charts .charts-toggle {
    display: block;
} 

.charts-toggle > a {
    color: #808285;
    font-size: 30px;
}

.charts-toggle > a:hover,
.charts-toggle > a:focus,
.charts-toggle > a:active {
    color: #BF364A;
    text-decoration: none;
}

.fix-charts section#people {
    margin-top: 350px;
}

#series_chart_div {
    width: 100%; 
    height: 300px;
}

.chart-options {
    padding-bottom: 10px;
}

ul.chart-options li:not(.active) small i {
    visibility: hidden;
}

/* In bootstrap.css, this was applied after 768px, we need this from all the way down to ensure chart nav does nor go vertical*/
  
.nav-justified.chart-options > li {
    display: table-cell !important;
    width: 1% !important;
}
.nav-justified.chart-options > li > a {
    margin-bottom: 0 !important;
    /* add custom padding*/
    padding-left: 5px;
    padding-right: 5px;
}

/*end*/

.chart-options>li>a {
    color: #222;
    border-radius: 0;
}

.chart-options>li>a:hover,
.chart-options>li>a:focus,
.chart-options>li>a:active {
    background-color: transparent;
    color: #BF364A;
}

.nav-pills.chart-options>li.active>a {
    color: #BF364A;
    background-color: transparent;
}

@media(min-width:768px) {

    .nav-pills.chart-options>li.active>a>span {
        box-shadow: 0 2px 0 #BF364A;
        padding-bottom: 8px;
    }

}

/* People */

section#people .container {
    overflow: hidden;
    padding-bottom: 5px; /* to make box shadow and outlines possible on last rows elements */
}

.circle {
    width: 160px;
    height: 160px;
    position: relative;
    margin: 0 auto;
}

.circle-text {
    width: 100%;
    position: absolute;
    z-index: -75;
    top: 0;
    right: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.circle-text:after {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background: #4E84C4; 
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
}

.person-box.selected .circle-text:before {
    content: "";
    display: block;
    width: 168px;
    height: 168px;
    background: transparent; 
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
    border: 1px solid #333;
    top: -4px;
    left: -4px;
    position: absolute;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(51,51,51,0.5);
    -moz-box-shadow: 0px 0px 1px 0px rgba(51,51,51,0.5);
    box-shadow: 0px 0px 1px 0px rgba(51,51,51,0.5);
}

.person-box.manufacturing.selected .circle-text:before {
    border-color: #368db9; 
}
.person-box.real-estate.selected .circle-text:before {
    border-color: #a51c30; 
}
.person-box.energy.selected .circle-text:before {
    border-color: #faae53; 
}
.person-box.consumer.selected .circle-text:before {
    border-color: #52854c; 
}
.person-box.tech-it.selected .circle-text:before {
    border-color: #293352; 
}
.person-box.finance.selected .circle-text:before {
    border-color: #48c4b7; 
}
.person-box.education.selected .circle-text:before {
    border-color: #861657; 
}
.person-box.healthcare.selected .circle-text:before {
    border-color: #CED665; 
}
.person-box.transportation.selected .circle-text:before {
    border-color: #8C8179; 
}
.person-box.other.selected .circle-text:before {
    border-color: #80475E; 
}

.person-box.selected .circle-text div,
.person-box.selected .circle-text h4 {
    font-weight: 800;
}

.circle-text > div {
    float: left;
    width: 100%;
    padding-top: 50%;
    line-height: 1.5em;
    margin-top: -3.0em;
    text-align: center;
    color: white;
}

.circle-text.spin,
.person-box .circle:hover .circle-text {
    z-index: -1; 
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;

    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;

    -moz-animation-duration: 1s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in-out;

    -ms-animation-duration: 1s;
    -ms-animation-iteration-count: 1;
    -ms-animation-timing-function: ease-in-out;
    
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

.circle-text.spin.right,
.person-box:nth-child(2n+1) .circle:hover .circle-text {
    right: -200px;
    -webkit-animation-name: spinRight;
    -moz-animation-name: spinRight;
    -ms-animation-name: spinRight;
    animation-name: spinRight;
}

@-ms-keyframes spinRight {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spinRight {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spinRight {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spinRight {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.person-box:nth-child(2n) .circle:hover .circle-text {
    right: 200px;
    -webkit-animation-name: spinLeft;
    -moz-animation-name: spinLeft;
    -ms-animation-name: spinLeft;
    animation-name: spinLeft;
}

@-ms-keyframes spinLeft {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(-360deg); }
}
@-moz-keyframes spinLeft {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(-360deg); }
}
@-webkit-keyframes spinLeft {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(-360deg); }
}
@keyframes spinLeft {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(-360deg);
    }
}

.person-box:nth-child(2n+1) .circle:hover .circle-text:after {
    -webkit-box-shadow: 1px 1px 1px 0px rgba(51,51,51,0.5);
    -moz-box-shadow: 1px 1px 1px 0px rgba(51,51,51,0.5);
    box-shadow: 1px 1px 1px 0px rgba(51,51,51,0.5);
}

.person-box:nth-child(2n) .circle:hover .circle-text:after {
    -webkit-box-shadow: -1px 1px 1px 0px rgba(51,51,51,0.5);
    -moz-box-shadow: -1px 1px 1px 0px rgba(51,51,51,0.5);
    box-shadow: -1px 1px 1px 0px rgba(51,51,51,0.5);
}

@media(min-width:768px) {

    .person-box:nth-child(4n+1) .circle:hover .circle-text,
    .person-box:nth-child(4n+2) .circle:hover .circle-text {
        right: -200px;
        -webkit-animation-name: spinRight;
        -moz-animation-name: spinRight;
        -ms-animation-name: spinRight;
        animation-name: spinRight;
    }

    @-ms-keyframes spinRight {
        from { -ms-transform: rotate(0deg); }
        to { -ms-transform: rotate(360deg); }
    }
    @-moz-keyframes spinRight {
        from { -moz-transform: rotate(0deg); }
        to { -moz-transform: rotate(360deg); }
    }
    @-webkit-keyframes spinRight {
        from { -webkit-transform: rotate(0deg); }
        to { -webkit-transform: rotate(360deg); }
    }
    @keyframes spinRight {
        from {
            transform:rotate(0deg);
        }
        to {
            transform:rotate(360deg);
        }
    }

    .circle-text.spin.left, 
    .person-box:nth-child(4n+3) .circle:hover .circle-text,
    .person-box:nth-child(4n+4) .circle:hover .circle-text {
        right: 200px;
        -webkit-animation-name: spinLeft;
        -moz-animation-name: spinLeft;
        -ms-animation-name: spinLeft;
        animation-name: spinLeft;
    }

    @-ms-keyframes spinLeft {
        from { -ms-transform: rotate(0deg); }
        to { -ms-transform: rotate(-360deg); }
    }
    @-moz-keyframes spinLeft {
        from { -moz-transform: rotate(0deg); }
        to { -moz-transform: rotate(-360deg); }
    }
    @-webkit-keyframes spinLeft {
        from { -webkit-transform: rotate(0deg); }
        to { -webkit-transform: rotate(-360deg); }
    }
    @keyframes spinLeft {
        from {
            transform:rotate(0deg);
        }
        to {
            transform:rotate(-360deg);
        }
    }

    .person-box:nth-child(4n+1) .circle:hover .circle-text:after,
    .person-box:nth-child(4n+2) .circle:hover .circle-text:after {
        -webkit-box-shadow: 1px 1px 1px 0px rgba(51,51,51,0.5);
        -moz-box-shadow: 1px 1px 1px 0px rgba(51,51,51,0.5);
        box-shadow: 1px 1px 1px 0px rgba(51,51,51,0.5);
    }

    .person-box:nth-child(4n+3) .circle:hover .circle-text:after,
    .person-box:nth-child(4n+4) .circle:hover .circle-text:after {
        -webkit-box-shadow: -1px 1px 1px 0px rgba(51,51,51,0.5);
        -moz-box-shadow: -1px 1px 1px 0px rgba(51,51,51,0.5);
        box-shadow: -1px 1px 1px 0px rgba(51,51,51,0.5);
    }

}

.circle .details {
    visibility: hidden;
    position: absolute;
    z-index: -100;
    width: 100%;
    height: 160px;
    left: 0;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

.circle:hover .details {
    width: 280px;
    background-color: white;
    visibility: visible;
    -webkit-transition: all 1.15s ease-in-out;
    -moz-transition: all 1.15s ease-in-out;
    -o-transition: all 1.15s ease-in-out;
    transition: all 1.15s ease-in-out;
    z-index: -50;
}

.person-box:nth-child(2n) .circle .details {
    text-align: right;
}

.person-box:nth-child(2n) .circle:hover .details {
    left: -120px;
}

@media(min-width:768px) {

    .person-box:nth-child(2n) .circle .details {
        text-align: inherit;
    }

    .person-box:nth-child(2n) .circle:hover .details {
        left: auto;
    }

    .person-box:nth-child(4n+3) .circle .details,
    .person-box:nth-child(4n+4) .circle .details {
        text-align: right;
    }

    .person-box:nth-child(4n+3) .circle:hover .details,
    .person-box:nth-child(4n+4) .circle:hover .details {
        left: -120px;
    }

}

.circle .details .content {
    padding: 20px;
    width: 100%;
    height: 100%;
    outline: 1px solid #D4DFE0;
    visibility: hidden;
    -webkit-transition: all .25s ease-in-out 0s;
    -moz-transition: all .25s ease-in-out 0s;
    -o-transition: all .25s ease-in-out 0s;
    transition: all .25s ease-in-out 0s;
}

.circle:hover .details .content {
    visibility: visible;
    -webkit-transition: all 1s ease-in-out .5s;
    -moz-transition: all 1s ease-in-out .5s;
    -o-transition: all 1s ease-in-out .5s;
    transition: all 1s ease-in-out .5s;
}

.circle .details .content ul {
    max-width: 180px;
}

.person-box:nth-child(2n) .circle .details .content ul {
    float: right;
}

@media(min-width:768px) {

    .person-box:nth-child(2n) .circle .details .content ul {
        float: left;
    }

    .person-box:nth-child(4n+3) .circle .details .content ul,
    .person-box:nth-child(4n+4) .circle .details .content ul {
        float: right;
    } 
}

.circle .details .content ul .text-muted {
    color: #A3B0BA;
}

.person-box.manufacturing .circle-text:after {
    background: #368db9; 
}
.person-box.real-estate .circle-text:after {
    background: #a51c30; 
}
.person-box.energy .circle-text:after {
    background: #faae53; 
}
.person-box.consumer .circle-text:after {
    background: #52854c; 
}
.person-box.tech-it .circle-text:after {
    background: #293352; 
}
.person-box.finance .circle-text:after {
    background: #48c4b7; 
}
.person-box.education .circle-text:after {
    background: #861657; 
}
.person-box.healthcare .circle-text:after {
    background: #CED665; 
}
.person-box.transportation .circle-text:after {
    background: #8C8179; 
}
.person-box.other .circle-text:after {
    background: #80475E; 
}

/* maps */

.map svg {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
}

.map svg.lean-back {
    transform: matrix3d(1,0,0.00,0,0.00,0.64,0.77,-0.001,0,-0.77,0.64,0,0,0,0,1);
    -webkit-transform: matrix3d(1,0,0.00,0,0.00,0.64,0.77,-0.001,0,-0.77,0.64,0,0,0,0,1);
}

.mapTooltip {
    position : absolute;
    background-color : #fff;
    moz-opacity:0.70;
    opacity: 0.70;
    filter:alpha(opacity=70);
    border-radius:10px;
    padding : 10px;
    z-index: 1000;
    max-width: 200px;
    display:none;
    color:#343434;
}

.maps .chart-options>li>a {
    color: #fff;
}

.maps .chart-options>li>a:hover,
.maps .chart-options>li>a:focus,
.maps .chart-options>li>a:active {
    background-color: transparent;
    color: #fff;
}

.maps .nav-pills.chart-options>li.active>a {
    color: #fff;
    background-color: transparent;
}

@media(min-width:768px) {

    .maps .nav-pills.chart-options>li.active>a>span {
        box-shadow: 0 2px 0 #fff;
        padding-bottom: 8px;
    }

}