---
layout: charts
---

<section id="charts" class="charts">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Philanthropists by Age</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container-fluid" id="charts-container">
        <div id="series_chart_div"></div>
        <div class="row">
            <div class="col-xs-12">
                <ul class="nav nav-pills nav-justified chart-options">
                  <li role="presentation">
                    <a href="#">By Name</a>
                  </li>
                  <li role="presentation">
                    <a href="#">Gender</a>
                  </li>
                  <li role="presentation">
                    <a href="javascript:void(0);" data-chart-type="age"><span>Age</span></a>
                  </li>
                  <li role="presentation" class="active">
                    <a href="javascript:void(0);" data-chart-type="donation"><span>Donation scale</span></a>
                  </li>
                  <li role="presentation">
                    <a href="#">Sector</a>
                  </li>
                  <li role="presentation">
                    <a href="#">Location</a>
                  </li>
                  <li role="presentation">
                    <a href="#">Donation areas</a>
                  </li>
                  <li role="presentation">
                    <a href="#">Institutions</a>
                  </li>
                  <li role="presentation">
                    <a href="charts-map.html">Map</a>
                  </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="people">

    <div class="container">
        
        <div class="row">
        {% assign a = 0 %}
        {% for i in (0..99)%}
            <div class="col-md-3 col-sm-4 col-xs-6" id="person-container-{{ i }}">
                <div class="person-info-box">
                    <div class="person-info-box-header text-center">
                        <img src="img/people/avatars/{{ a }}.jpg">
                        <h4>Jack Ma</h4>
                    </div>
                    <div class="person-info-box-body">   
                        <ul class="no-bullets">
                            <li>Age: 52</li>
                            <li>Location: Beijing</li>
                            <li>Donations: $3.5 B</li>
                            <li>Generosity: 12%</li>
                            <li>Industry: Real Estate</li>
                            <li>Focus: Education</li>
                        </ul>
                    </div>
                </div>
            </div>
            {% if a == 9%}
                {% assign a = 0 %}
            {% else %}
                {% assign a = a | plus: 1 %} 
            {% endif %}
        {% endfor %}

        </div>

    </div>

</section>