---
layout: charts
title: Statistics | Philanthropy in China - The Ash Center for Democratic Governance and Innovation
excerpt: Statistical data on top 100 Chinese philanthropists in 2015. Research by The Ash Center for Democratic Governance and Innovation, Harvard Kennedy School
language: en
type: charts
---

<section id="charts" class="charts">
    <div class="container" id="charts-header">
    </div>
    <div class="container-fluid charts-container" id="charts-container">
        <div class="chart-wrapper">
            <div id="series_chart_div">
                <div class="chart-loader">
                    <i class="fa fa-spinner fa-2x fa-spin"></i>
                </div>
            </div>
        </div>

        <div class="row text-center chart-options">

            <div class="col-xs-12">

                <a href="?generosity" class="chart-option active" data-chart-name="by Generosity Index" data-chart-type="generosity">
                    <span>Generosity Index <small data-toggle="tooltip" title="Generosity Index is a novel concept that measures how generous a philanthropist is by dividing his/her donation by the value of shares one holds in public companies, a proxy to his/her financial might"><i class="fa fa-info-circle"></i></small></span>
                </a>

                <a href="?focus" class="chart-option" data-chart-name="by Focus Areas" data-chart-type="focus">
                    <span>Diversity Index</span>
                </a>
            
                <a href="?industry" class="chart-option" data-chart-name="by Industries" data-chart-type="industry">
                    <span>Industry</span>
                </a>                
            
                <a href="?age" class="chart-option" data-chart-name="by Age" data-chart-type="age">
                    <span>Age</span>
                </a>
                            
                <a href="?education" class="chart-option" data-chart-name="by Education" data-chart-type="education">
                    <span>Education</span>
                </a>
                            
                <a href="?environment" class="chart-option" data-chart-name="by Environment" data-chart-type="environment">
                    <span>Environment</span>
                </a>
                            
                <a href="?healthcare" class="chart-option" data-chart-name="by Healthcare" data-chart-type="healthcare">
                    <span>Healthcare</span>
                </a>
            
                <a href="?social" class="chart-option" data-chart-name="by Social Welfare" data-chart-type="social">
                    <span>Social Welfare</span>
                </a>

                <a href="?disaster" class="chart-option" data-chart-name="by Disaster Relief" data-chart-type="disaster">
                    <span>Disaster Relief</span>
                </a>
                    
                <a href="?culture" class="chart-option" data-chart-name="by Culture" data-chart-type="culture">
                    <span>Culture</span>
                </a>
                     
                <a href="?months" class="chart-option" data-chart-name="Donations by months" data-chart-type="months">
                    <span>Chronological <small data-toggle="tooltip" title="A total of 54 million yuan of donations with unspecified dates is not included in this chart"><i class="fa fa-info-circle"></i></small></span>
                </a>

                <a href="javascript:void(0);" id="chart-toggle" class="charts-toggle">
                    &times;
                </a>
            
            </div>

        </div>
    </div>
</section>

<section id="people">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Top 100 Philanthropists</h2>
                <hr class="">
            </div>
        </div>
        
        <div class="row">
        {% assign a = 0 %}
        {% assign b = 1 %}
        {% assign i = 0 %}

        {% assign focus_number = 0 %}
        {% assign generosity_number = 0 %}
        {% assign industry_number = 0 %}
        {% assign age_number = 0 %}

        {% assign education_number = 0 %}
        {% assign environment_number = 0 %}
        {% assign healthcare_number = 0 %}
        {% assign social_number = 0 %}
        {% assign disaster_number = 0 %}
        {% assign culture_number = 0 %}

        {% for person in site.data.persons%}

            {% assign focuses = "a|b" | split: "|" %}
            {% if person.['Education'] > 0 %}
                 {% assign focuses = focuses | push: "Education" %}
            {% endif %}
            {% if person.['Environment'] > 0 %}
                 {% assign focuses = focuses | push: "Environment" %}
            {% endif %}
            {% if person.['Healthcare'] > 0 %}
                 {% assign focuses = focuses | push: "Healthcare" %}
            {% endif %}
            {% if person.['Social Welfare'] > 0 %}
                 {% assign focuses = focuses | push: "Social Welfare" %}
            {% endif %}
            {% if person.['Disaster Relief'] > 0 %}
                 {% assign focuses = focuses | push: "Disaster Relief" %}
            {% endif %}
            {% if person.['Culture'] > 0 %}
                 {% assign focuses = focuses | push: "Culture" %}
            {% endif %}

            {% assign focuses = focuses | array_to_sentence_string %}
            {% assign focuses = focuses | replace: 'a, b,', '' %}
            {% assign focuses = focuses | replace: 'and', '' %}

            {% assign industry_class = person.['Industry'] | split: &nbsp; %}
            {% assign industry_class = industry_class | join: '-' %}
            {% assign industry_class = industry_class | downcase %}
            {% assign industry_class = industry_class | replace: '/', '-' %}
                <div class="col-sm-3 col-xs-6 mg-top-25 person-box {{ industry_class }}" {% if person.['Age'] > 0  %} data-age="{{ age_number }}" {% endif %}  
                    {% if person.['Generosity'] != 0 %} data-generosity="{{ generosity_number }}" {% endif %}   
                    {% if person.['Industry'] != 0 %} data-industry="{{ industry_number }}" {% endif %} 
                    {% if focuses != '' %} data-focus="{{ focus_number }}" {% endif %}

                    {% if person.['Education'] != 0 %} data-education="{{ education_number }}" {% endif %} 
                    {% if person.['Environment'] != 0 %} data-environment="{{ environment_number }}" {% endif %} 
                    {% if person.['Healthcare'] != 0 %} data-healthcare="{{ healthcare_number }}" {% endif %} 
                    {% if person.['Social Welfare'] != 0 %} data-social="{{ social_number }}" {% endif %} 
                    {% if person.['Disaster Relief'] != 0 %} data-disaster="{{ disaster_number }}" {% endif %} 
                    {% if person.['Culture'] != 0 %} data-culture="{{ culture_number }}" {% endif %} 

                    id="person-container-{{ person.['Ranking'] }}">
                    <div class="circle">
                        <div class="circle-text">
                            <div>
                                <div>{{ b }}</div>
                                <h4>{{ person.['Name Eng'] }}</h4>
                                <div>¥{{ person.['Total Amount (million Yuan)'] }} Million</div>
                            </div>
                        </div>
                        <div class="details">
                            <div class="content">
                                <ul class="no-bullets">
                                    <li><span class="text-muted">Age:</span> {% if person.['Age'] > 0 %} {{ person.['Age'] }} {% else %} N.A. {% endif %}</li>
                                    <li><span class="text-muted">Generosity:</span> {% if person.['Generosity'] != 0 %} {{person.['Generosity']}} {% else %} N.A. {% endif %}</li>
                                    <li><span class="text-muted">Province:</span> {% if person.['From Province'] != 0 %} {{ person.['From Province'] }} {% else %} N.A. {% endif %}</li>
                                    <li><span class="text-muted">Industry:</span> {{ person.['Industry'] }}</li>
                                    <li><span class="text-muted">Focus:</span> {{ focuses }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>            
            {% assign i = i | plus: 1 %} 
            {% if a == 9%}
                {% assign a = 0 %}
            {% else %}
                {% assign a = a | plus: 1 %} 
            {% endif %}
            {% assign b = b | plus: 1 %}
            {% if focuses != '' %}
                {% assign focus_number = focus_number | plus: 1  %}
            {% endif %}   
            {% if person.['Generosity'] != 0 %}
                {% assign generosity_number = generosity_number | plus: 1  %}
            {% endif %} 
            {% if person.['Industry'] != 0 %}
                {% assign industry_number = industry_number | plus: 1  %}
            {% endif %} 
            {% if person.['Age'] > 0 %}
                {% assign age_number = age_number | plus: 1  %}
            {% endif %} 

            {% if person.['Education'] > 0 %}
                 {% assign education_number = education_number | plus: 1  %}
            {% endif %}
            {% if person.['Environment'] > 0 %}
                 {% assign environment_number = environment_number | plus: 1  %}
            {% endif %}
            {% if person.['Healthcare'] > 0 %}
                 {% assign healthcare_number = healthcare_number | plus: 1  %}
            {% endif %}
            {% if person.['Social Welfare'] > 0 %}
                 {% assign social_number = social_number | plus: 1  %}
            {% endif %}
            {% if person.['Disaster Relief'] > 0 %}
                 {% assign disaster_number = disaster_number | plus: 1  %}
            {% endif %}
            {% if person.['Culture'] > 0 %}
                 {% assign culture_number = culture_number | plus: 1  %}
            {% endif %}

        {% endfor %}
        
        </div>

    </div>
</section>