---
layout: default
---
   
<header class="">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Philanthropy in China</h1>
            <hr>
            <p>The Ash Center for Democratic Governance and Innovation releases its inaugural annual report on 100 most generous Chinese philanthropists</p>
            <a href="charts.html" class="btn btn-primary btn-xl">View Charts</a>
            <br>
            <a href="#overview" class="lrn-mr-btn page-scroll">
                Learn More<br>
                <i class="fa fa-angle-down"></i>
            </a>
        </div>
    </div>
</header>

<section id="overview" class="overview">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">2015 Overview</h2>
                <hr class="">
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-8 col-md-offset-2 wow fadeIn">
                <p>The systematic and rigorous database includes each philanthropist’s giving levels between September 2014 and August 2015, recipient organizations, and a host of other research variables related to philanthropists and recipients.</p>
            </div>
        </div>
        <div class="row text-center metrics mg-top-50">
            <div class="col-sm-4 wow zoomIn">
                <p class="metric-lg text-primary">100</p>
                <p>People</p>
            </div>
            <div class="col-sm-4 wow zoomIn">
                <p class="metric-lg text-primary">¥24 Billion</p>
                <p>Donated</p>
            </div>
            <div class="col-sm-4 wow zoomIn">
                <p class="metric-lg text-primary">0.03%</p>
                <p>Of 2014 China’s GDP</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <ul class="key-findings mg-top-50">
                    <li class="wow fadeIn" data-wow-delay="0s">Total giving from Top 100 accounts for a quarter of China’s national donation in 2014</li>
                    <li class="wow fadeIn" data-wow-delay=".1s">22 individuals make it into China’s Top 100 donors for the first time</li>
                    <li class="wow fadeIn" data-wow-delay=".19s">Mean is 241 million Yuan ($38 million); median is 30 million Yuan ($4.7 million)</li>
                    <li class="wow fadeIn" data-wow-delay=".265s">Real estate produces the most philanthropists, but none of the top 4 are in property</li>
                    <li class="wow fadeIn" data-wow-delay=".32s">Four donors give their stocks/options, including the most generous one: Jack Ma</li>
                    <li class="wow fadeIn" data-wow-delay=".35s">10 philanthropists donate overseas; more than a quarter have set up own foundations (27)</li>
                </ul>
            </div>
        </div>      
    </div> 
</section>

<section id="rankings" class="rankings bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Top Philanthropists</h2>
                <hr class="light">
            </div>
        </div>
        <div class="row mg-top-25">
            {% assign a = 1 %}
            {% assign b = 0 %}
            {% for i in (1..12) %}
            <div class="col-md-3 col-sm-4 col-xs-6" id="person-container-{{ i }}">
                <div class="person-info-box wow fadeIn">
                    <div class="container-fluid">
                        <div class="person-info-box-header">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h4>{{ a }}. Jack Ma</h4>
                                </div>
                                <div class="person-info-box-image col-xs-6">
                                    <img src="img/people/avatars/{{ b }}.jpg">
                                </div>
                                <div class="person-info-box-text col-xs-6">   
                                    <ul class="no-bullets">
                                        <li><small class="text-muted">Donations:</small><br><big>$52 million</big></li>
                                        <li><small class="text-muted">Generosity:</small><br><big>12%</big></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% assign a = a | plus: 1 %}
            {% if b == 9%}
                    {% assign b = 0 %}
                {% else %}
                    {% assign b = b | plus: 1 %} 
                {% endif %}
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-xs-12 text-center mg-top-25">
                <a href="charts.html" class="btn btn-default btn-xl">View All</a>
            </div>
        </div>
    </div>
</section>

<section id="most-generous">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Most Generous</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center">
                <div class="service-box">
                    <h3>Jack Ma</h3>
                    <img src="img/people/jack_ma.jpg" class="person wow fadeIn" alt="Jack Ma">
                    <p class="text-muted">Jack Ma made the largest donation pledge by a Chinese individual in September 2014. The pledged amount equals to XX percent of what all his Alibaba shares are worth.</p>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <div class="service-box">
                    <h3>He Qiaonv</h3>
                    <img src="img/people/he_qiaonv.jpg" class="person wow fadeIn" alt="He Qiaonv">
                    <p class="text-muted">He Qiaonv has highest generosity index - she donated 183 million USD, which was 6.3 % of her net worth</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="location" class="location bg-dark bg-image wow fadeIn">
    <div class="background-image"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h2 class="section-heading wow bounce" data-wow-delay=".1s"><i class="fa fa-map-marker"></i> Guangdong – Land of Charity</h2>
                <hr class="light">
                <div class="wow zoomIn" data-wow-delay=".1s">
                    <p>The southern province is home to 21 philanthropists, making it the most generous region. He Xiangjian, founder of electrical appliance manufacturer Midea, leads with 410 million donation in the 12 months period. Top 100 philanthropists are located in 21 municipalities/provinces. Guangdong is followed by Beijing (16), Zhejiang (11) and Fujian (8).</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container-fluid">
    <div id="equalcols" class="row no-gutter">
        <div class="col-sm-6">
            <section class="top-industry bg-dark bg-image wow fadeIn" id="industries">
                <div class="background-image"></div>
                <div class="container-fluid text-center">
                    <div class="row">
                        <div class="col-lg-10 col-lg-offset-1">
                            <h2 class="section-heading wow bounce"><i class="fa fa-building"></i> Real Estate Gives</h2>
                            <hr class="light">
                            <p class="wow zoomIn">China’s booming property market has minted the most philanthropists. There are 32 individuals whose core business is building houses, nearly twice as the next most generous sector: manufacturing (18). Consumer (15) and technology (14) sector rank the third and fourth, respectively.</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-sm-6">
            <section class="hot-sector bg-dark bg-image wow fadeIn" id="sectors">
                <div class="background-image"></div>
                <div class="container-fluid text-center">
                    <div class="row">
                        <div class="col-lg-10 col-lg-offset-1">
                            <h2 class="section-heading wow bounce"><i class="fa fa-graduation-cap"></i> Education Takes</h2>
                            <hr class="light">
                            <p class="wow zoomIn">Education gets the lion’s share with 81 individuals giving to schools or students. Eight Chinese universities received donations of at least 100 million yuan. Poverty alleviation and social welfare is the second most active sector (62), followed by disaster relief (35).</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<section id="government" class="government bg-dark bg-image">
    <div class="background-image"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h2 class="section-heading wow bounce" data-wow-delay=".1s"><i class="fa fa-university"></i> Government</h2>
                <hr class="light">
                <div class="wow zoomIn" data-wow-delay=".1s">
                    <p>Two out of five philanthropists (41) donate to government or government-backed charities, highlighting the trust donors put in government, despite a series of scandal that undermined the credibility of the country’s governmental charity several years ago.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="gender">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Gender Inequality</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row pull-down-wrapper">
            <div class="col-sm-6 text-center">
                <div class="gender-icons-container mg-top-50">
                  
                  {% assign a = 0 %}
                  {% for i in (1..89) %}

                    {% if a < 10 %}
                    <i class="fa fa-male wow bounceIn text-primary" data-wow-delay=".0{{ a }}s"></i>
                    {% else %}
                    <i class="fa fa-male wow bounceIn text-primary" data-wow-delay=".{{ a }}s"></i>{% if a == 17 or a == 35 or a == 53 or a == 71 %}<br>{% endif %}

                    {% endif %}
                    {% assign a = a | plus: 1 %}

                  {% endfor %}

                    <h3>89 male philanthropists</h3>
                </div>
            </div>
            <div class="col-md-6 text-center pull-down">
                <div class="gender-icons-container">
                  
                  {% assign a = 0 %}
                  {% for i in (1..11) %}
                    
                    <i class="fa fa-female wow bounceIn text-primary" data-wow-delay="{{ a | divided_by: 10 }}.{{ a | modulo: 10 }}s"></i>
                    {% assign a = a| plus: 1 %}

                  {% endfor %}

                  <h3>11 female philanthropists</h3>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About the Research</h2>
                <hr class="light">
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1 wow fadeIn">
                <p>The rise of private wealth is one of the most important developments in modern China, with implications for the country’s social, economic, and political arenas. How individuals choose to deploy such resources will shape the relationships between the individual and the state, between the state and business, and between the state and the social sector.</p>
                <p>The research aims to provide a holistic view of China’s philanthropic landscape by analyzing specific givings of China’s most generous individuals. The findings are based on a variety of sources, including media reports, company websites, corporate filings and trade journals and most of them they are verified by each philanthropist or his or her representative and recipients of the funds. All information is separately verified by China Charity & Donation Information Center, an affiliation of China’s Ministry of Civil Affairs.</p>
                <p>We believe that an independent, verified, and research-oriented design of a Chinese giving database will enable much-needed quantitative research and will also result in indices that can be used by a range of government, academic, media, and non-profit organizations.</p>
            </div>
            <div class="col-md-5 wow fadeIn">
                <p>This website will be updated every year. The 2015 report is compiled by: Peiran Wei (MC MPA '15, Harvard Kennedy School),  Zijia Guo (MIB '15, The Fletcher School of Tufts University), Qinqin Wu (MDes '15, Harvard Graduate School of Design), Cuimei Zhang (Ed.M 15', Harvard Graduate School of Education) and Evan Kornbluh (MPP/MBA Candidate, Harvard Kennedy School/Harvard Business School).</p>
                <img src="{{ "/img/peiran-wei.jpg" || prepend: site.baseurl }}" alt="Research team">
            </div>
        </div>
    </div>
</section>