---
layout: default
excerpt: Top 100 Chinese philanthropists between Sep 2014 and Aug 2015. Research by The Ash Center for Democratic Governance and Innovation, Harvard Kennedy School
language: en
---
   
<header class="">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Philanthropy in China</h1>
            <hr>
            <p>The Ash Center for Democratic Governance and Innovation releases its inaugural annual report on 100 most generous Chinese philanthropists</p>
            <a href="charts.html" class="btn btn-primary btn-xl">View Charts <i class="fa fa-bar-chart"></i></a>
            <a href="maps.html" class="btn btn-primary btn-xl">View Maps <i class="fa fa-globe"></i></a>
            <br>
            <a href="#overview" class="lrn-mr-btn page-scroll">
                Learn More<br>
                <i class="fa fa-angle-down"></i>
            </a>
        </div>
    </div>
</header>

<section id="overview" class="overview bg-dark bg-image wow fadeIn">
    <div class="background-image"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">2015 Overview</h2>
                <hr class="">
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-8 col-md-offset-2 wow fadeIn">
                <p>The systematic and rigorous database includes each philanthropist’s giving levels between September 2014 and August 2015, recipient organizations, and a host of other research variables related to philanthropists and recipients.</p>
            </div>
        </div>
        <div class="row text-center metrics">
            <div class="col-sm-4 wow zoomIn mg-top-50">
                <p class="metric-lg">100</p>
                <p>People</p>
            </div>
            <div class="col-sm-4 wow zoomIn mg-top-50">
                <p class="metric-lg">¥24 Billion</p>
                <p>Donated <small data-toggle="tooltip" data-placement="bottom" title="The number includes pledges made by four individuals: Jack Ma, He Qiaonv, Li Hejun and Zhou Xuzhou"><i class="fa fa-info-circle"></i></small></p>
            </div>
            <div class="col-sm-4 wow zoomIn mg-top-50">
                <p class="metric-lg">0.03%</p>
                <p>Of 2014 China’s GDP</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <ul class="key-findings mg-top-50">
                    <li class="wow fadeIn" data-wow-delay="0s">Total donations and pledges of the Top 100 account for a quarter of national donations in 2014. <small data-toggle="tooltip" title="Source: 2014 Social Service Development Report, Ministry of Civil Affairs of People’s Republic of China, June 10, 2015."><i class="fa fa-info-circle"></i></small></li>
                    <li class="wow fadeIn" data-wow-delay=".1s">24 individuals make it into China’s Top 100 donors for the first time.</li>
                    <li class="wow fadeIn" data-wow-delay=".19s">Mean: ￥52 million ($8.2 million). Median: ￥20 million ($3.1 million).</li>
                    <li class="wow fadeIn" data-wow-delay=".265s">Most philanthropists hail from the real estate sector.</li>
                    <li class="wow fadeIn" data-wow-delay=".32s">Two philanthropists made major pledges in the form of stocks. They are: Jack Ma and He Qiaonv.</li>
                    <li class="wow fadeIn" data-wow-delay=".35s">Three philanthropists donate overseas; 19 philanthropists set up own foundations. </li>
                    <li class="wow fadeIn" data-wow-delay=".37s">Top 100 philanthropists average age: 54.</li>
                </ul>
            </div>
        </div>
    </div> 
</section>

<section id="most-generous">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Philanthropic Leaders – Actual Giving</h2>
                <hr class="">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-6 text-center">
                <div class="service-box">
                    <h3>He Xiangjian</h3>
                    <img src="{{ "/img/people/he_xiangjian.jpg" | prepend: site.baseurl }}" class="person wow fadeIn" alt="He Xiangjian">
                    <p class="text-muted">Long-time philanthropist, He Xiangjian tops the list a ￥400 million donation.</p>
                </div>
            </div>
            <div class="col-xs-6 text-center">
                <div class="service-box">
                    <h3>Wang Miaotong</h3>
                    <img src="{{ "/img/people/wang_miaotong.jpg" | prepend: site.baseurl }}" class="person wow fadeIn" alt="Wang Miaotong" style="object-fit: cover;">
                    <p class="text-muted">Wang Miaotong, founder of an auto-parts maker in Zhejiang, ranks the first on the inaugural Generosity Index. <small data-toggle="tooltip" title="Generosity Index is a novel concept that measures how generous a philanthropist is by dividing his/her donation by the value of shares one holds in public companies, a proxy to his/her financial might"><i class="fa fa-info-circle"></i></small></p>
                </div>
            </div>
        </div>
        <div class="row mg-top-100">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Philanthropic Leaders – Pledged Amount</h2>
                <hr class="">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 text-center">
                <div class="service-box">
                    <h3>Jack Ma</h3>
                    <img src="{{ "/img/people/jack_ma.jpg" | prepend: site.baseurl }}" class="person wow fadeIn" alt="Jack Ma">
                    <p class="text-muted">Jack Ma made the largest donation pledge when Alibaba Group was listed in 2014.</p>
                </div>
            </div>
            <div class="col-xs-6 text-center">
                <div class="service-box">
                    <h3>He Qiaonv</h3>
                    <img src="{{ "/img/people/he_qiaonv.jpg" | prepend: site.baseurl }}" class="person wow fadeIn" alt="He Qiaonv">
                    <p class="text-muted">He Qiaonv pledged to donate ￥2.9 billion of her shares in Oriental Landscape to her foundation.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center mg-top-50">
                <a href="charts.html?generosity" class="btn btn-primary btn-xl">View All</a>
            </div>
        </div>
    </div>
</section>

<section id="location" class="location bg-dark bg-image wow fadeIn">
    <div class="background-image zoomable"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h2 class="section-heading wow bounce" data-wow-delay=".1s"><i class="fa fa-map-marker"></i> Guangdong – Land of Charity</h2>
                <hr class="light">
                <div class="wow zoomIn" data-wow-delay=".1s">
                    <p>The southern province is home to 21 philanthropists who donated about ￥11 billion, making it the most generous region. He Xiangjian, founder of the electrical appliance manufacturer Midea, leads with ￥400 million donation in 2015.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="top-industries" class="wow fadeIn no-padding">
    <div class="container-fluid">
        <div class="row text-center">
          <div class="row-height">
            <div class="col-sm-6 col-height top-industry bg-dark bg-image">
                <div class="background-image zoomable"></div>
                <div class="inside">
                    <div class="content">
                        <div class="row">
                            <div class="col-lg-10 col-lg-offset-1">
                                <h2 class="section-heading wow bounce"><i class="fa fa-building"></i> Real Estate Gives</h2>
                                <hr class="light">
                                <p class="wow zoomIn">China’s booming property market has minted the most philanthropists. There are 30 philanthropists whose core business is real estate, followed by Manufacturing (19), Consumer (14) and Technology (13).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-height hot-sector bg-dark bg-image">
                <div class="background-image zoomable"></div>
                <div class="inside">
                    <div class="content">
                        <div class="row">
                            <div class="col-lg-10 col-lg-offset-1">
                                <h2 class="section-heading wow bounce"><i class="fa fa-graduation-cap"></i> Education Takes</h2>
                                <hr class="light">
                                <p class="wow zoomIn">Education gets the lion’s share with 59 philanthropists giving to schools or students. Eight Chinese universities received donations of at least ￥100 million. Poverty alleviation/social welfare is the second most active sector (52), followed by disaster relief (8) and healthcare (8).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           </div>
        </div>
    </div>
</section>

<section id="foundations" class="wow fadeIn no-padding">
    <div class="container-fluid">
        <div class="row text-center">
          <div class="row-height">
            <div class="col-sm-6 col-height government bg-dark bg-image">
                <div class="background-image zoomable"></div>
                <div class="inside">
                    <div class="content">
                        <div class="row">
                            <div class="col-lg-10 col-lg-offset-1">
                                 <h2 class="section-heading wow bounce" data-wow-delay=".1s"><i class="fa fa-university"></i> Government</h2>
                                <hr class="light">
                                <div class="wow zoomIn" data-wow-delay=".1s">
                                    <p>Nearly three out of five philanthropists (57) donate to government or government-backed charities.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-height private-foundation bg-dark bg-image">
                <div class="background-image zoomable"></div>
                <div class="inside">
                    <div class="content">
                        <div class="row">
                            <div class="col-lg-10 col-lg-offset-1">
                                <h2 class="section-heading wow bounce"><i class="fa fa-balance-scale"></i> Private Foundation</h2>
                                <hr class="light">
                                <p class="wow zoomIn">Among Top 100, 19 philanthropists set up own foundations.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           </div>
        </div>
    </div>
</section>

<section id="gender">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Gender Comparison</h2>
                <hr class="">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row pull-down-wrapper">
            <div class="col-sm-6 text-center">
                <div class="gender-icons-container mg-top-50">
                  
                  {% assign a = 0 %}
                  {% for i in (1..89) %}

                    {% if a < 10 %}
                    <i class="fa fa-male wow bounceIn text-primary" data-wow-delay=".0{{ a }}s"></i>
                    {% else %}
                    <i class="fa fa-male wow bounceIn text-primary" data-wow-delay=".{{ a }}s"></i>{% if a == 17 or a == 35 or a == 53 or a == 71 %}<br>{% endif %}

                    {% endif %}
                    {% assign a = a | plus: 1 %}

                  {% endfor %}

                    <h3>89 male philanthropists</h3>
                </div>
            </div>
            <div class="col-md-6 text-center pull-down">
                <div class="gender-icons-container mg-top-50">
                  
                  {% assign a = 0 %}
                  {% for i in (1..11) %}
                    
                    <i class="fa fa-female wow bounceIn text-primary" data-wow-delay="{{ a | divided_by: 10 }}.{{ a | modulo: 10 }}s"></i>
                    {% assign a = a| plus: 1 %}

                  {% endfor %}

                  <h3>11 female philanthropists</h3>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About the Research</h2>
                <hr class="light">
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1 wow fadeIn">
                <p>The rise of private wealth is one of the most important developments in modern China, with implications for the country’s social, economic, and political arenas. How individuals choose to deploy such resources will shape the relationships between the individual and the state, between the state and business, and between the state and the social sector.</p>
                <p>The research aims to provide a holistic view of China’s philanthropic landscape by analyzing specific givings of China’s most generous individuals. The findings are based on a variety of sources, including media reports, company websites, corporate filings and trade journals and most of them they are verified by each philanthropist or his or her representative and recipients of the funds.</p>
                <p>We believe that an independent, verified, and research-oriented design of a Chinese giving database will enable much-needed quantitative research and will also result in indices that can be used by a range of government, academic, media, and non-profit organizations.</p>
            </div>
            <div class="col-md-5 wow fadeIn">
                <p>This website will be updated every year. The 2015 report is compiled by: Peiran Wei (MC MPA '15, Harvard Kennedy School),  Zijia Guo (MIB '15, The Fletcher School of Tufts University), Qinqin Wu (MDes '15, Harvard Graduate School of Design), Cuimei Zhang (Ed.M '15, Harvard Graduate School of Education) and Evan Kornbluh (MPP/MBA Candidate, Harvard Kennedy School/Harvard Business School).</p>
                <img src="{{ "/img/home/john-harvard-statue.jpg" || prepend: site.baseurl }}" alt="Research team">
            </div>
        </div>
    </div>
</section>