<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-7 col-md-offset-1 footer-copy-text">
        79 John F. Kennedy Street | Cambridge, MA 02138
        <br>
        <br>
        Copyright © 2015 The President and Fellows of Harvard College
        <br>
        <a href="http://www.trademark.harvard.edu/trademark_protection/notice.php" target="_blank">Report Copyright Infringements</a>
        <br>
      </div>
      <div class="col-sm-5 col-md-4">
        <a href="http://ash.harvard.edu/" target="_blank"><img src="img/HKSlogo_ash_lg.png"></a>
      </div>
    </div>
  </div>

</footer>
