<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-logo page-scroll" href="#page-top"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {% if page.language == 'en' %}
                <li>
                    <a class="page-scroll" href="#overview">Overview</a>
                </li>
                <li>
                    <a class="page-scroll" href="#most-generous">Highlights</a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">About</a>
                </li>
                <li>
                    <a href="charts.html">Charts <i class="fa fa-bar-chart"></i></a>
                </li>
                <li>
                    <a href="maps.html">Maps <i class="fa fa-globe"></i></a>
                </li>
                <li>
                    <a href="{{ page.url | prepend:'cn' }}"><span class="menu-btn">中文版</span></a>
                </li>
                {% elsif page.language == 'cn' %}
                <li>
                    <a class="page-scroll" href="#overview">概览</a>
                </li>
                <li>
                    <a class="page-scroll" href="#most-generous">摘要</a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">介绍</a>
                </li>
                <li>
                    <a href="charts.html">图表 <i class="fa fa-bar-chart"></i></a>
                </li>
                <li>
                    <a href="maps.html">慈善地图 <i class="fa fa-globe"></i></a>
                </li>
                <li>
                    <a href="../{{ page.url | remove:'/cn/' }}"><span class="menu-btn">En</span></a>
                </li>
                {% endif %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
    <a href="#page-top" class="scroll-to-top page-scroll"><i class="fa fa-chevron-up"></i></a>
</nav>