---
layout: charts
title: 统计数据 | 中国慈善--艾什民主治理与创新中心
excerpt: 2015年中国前100名慈善家数据。哈佛肯尼迪学院艾什民主治理与创新中心研究。
language: cn
type: charts
---

<section id="charts" class="charts">
    <div class="container" id="charts-header">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">&nbsp;</h2>
                <hr class="">
            </div>
        </div>
    </div>
    <div class="container-fluid charts-container" id="charts-container">
        <div class="chart-wrapper">
            <div id="series_chart_div">
                <div class="chart-loader">
                    <i class="fa fa-spinner fa-2x fa-spin"></i>
                </div>
            </div>
        </div>    
        <div class="row">
            <div class="col-xs-12">
                <ul class="nav nav-pills nav-justified chart-options">
                  <li role="presentation">
                    <a href="?generosity" data-chart-name="慷慨指数" data-chart-type="generosity">
                        <span>慷慨指数 <small data-toggle="tooltip" title="慷慨指数通过用慈善家捐赠总额除以其持有的上市公司股份价值，衡量在考虑他/她财务实力的情况下，其捐赠的慷慨程度。"><i class="fa fa-info-circle"></i></small></span>
                    </a>
                  </li>
                  <li role="presentation">
                    <a href="?industry" data-chart-name="行业" data-chart-type="industry">
                        <span>行业</span>
                    </a>
                  </li>
                  <li role="presentation">
                    <a href="?focus" data-chart-name="多样性指数" data-chart-type="focus">
                        <span>多样性指数</span>
                    </a>
                  </li>
                  <li role="presentation">
                    <a href="?age" data-chart-name="年龄" data-chart-type="age">
                        <span>年龄</span>
                    </a>
                  </li>
                  <li role="presentation">
                    <a href="?education" data-chart-name="教育" data-chart-type="education">
                        <span>教育</span>
                    </a>
                  </li>
                  <li role="presentation">
                    <a href="?environment" data-chart-name="环保" data-chart-type="environment">
                        <span>环保</span>
                    </a>
                  </li>
                  <li role="presentation">
                    <a href="?healthcare" data-chart-name="医疗" data-chart-type="healthcare">
                        <span>医疗</span>
                    </a>
                  </li>
                  <li role="presentation">
                    <a href="?social" data-chart-name="社会福利" data-chart-type="social">
                        <span>社会福利</span>
                    </a>
                  </li>
                  <li role="presentation">
                    <a href="?disaster" data-chart-name="赈灾" data-chart-type="disaster">
                        <span>赈灾</span>
                    </a>
                  </li>
                  <li role="presentation">
                    <a href="?culture" data-chart-name="文化" data-chart-type="culture">
                        <span>文化</span>
                    </a>
                  </li>

                  <li role="presentation">
                     <a href="?months" data-chart-name="时间轴" data-chart-type="months">
                        <span>时间轴 <small data-toggle="tooltip" title="总共有5,400万元捐赠时间不明，故未计入此表。"><i class="fa fa-info-circle"></i></small></span>
                     </a>
                  </li>
                </ul>
                <div class="charts-toggle">
                    <a href="javascript:void(0);" id="chart-toggle">
                        &times;
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="people">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">百位慈善家</h2>
                <hr class="">
            </div>
        </div>
        
        <div class="row">
        {% assign a = 0 %}
        {% assign b = 1 %}
        {% assign i = 0 %}

        {% assign focus_number = 0 %}
        {% assign generosity_number = 0 %}
        {% assign industry_number = 0 %}
        {% assign age_number = 0 %}

        {% assign education_number = 0 %}
        {% assign environment_number = 0 %}
        {% assign healthcare_number = 0 %}
        {% assign social_number = 0 %}
        {% assign disaster_number = 0 %}
        {% assign culture_number = 0 %}

        {% for person in site.data.persons%}

            {% assign focuses = "a|b" | split: "|" %}
            {% if person.['Education'] > 0 %}
                 {% assign focuses = focuses | push: "教育" %}
            {% endif %}
            {% if person.['Environment'] > 0 %}
                 {% assign focuses = focuses | push: "环保" %}
            {% endif %}
            {% if person.['Healthcare'] > 0 %}
                 {% assign focuses = focuses | push: "医疗" %}
            {% endif %}
            {% if person.['Social Welfare'] > 0 %}
                 {% assign focuses = focuses | push: "社会福利" %}
            {% endif %}
            {% if person.['Disaster Relief'] > 0 %}
                 {% assign focuses = focuses | push: "赈灾" %}
            {% endif %}
            {% if person.['Culture'] > 0 %}
                 {% assign focuses = focuses | push: "文化" %}
            {% endif %}

            {% assign focuses = focuses | array_to_sentence_string %}
            {% assign focuses = focuses | replace: 'a, b,', '' %}
            {% assign focuses = focuses | replace: 'and', '' %}

            {% assign industry_class = person.['Industry'] | split: &nbsp; %}
            {% assign industry_class = industry_class | join: '-' %}
            {% assign industry_class = industry_class | downcase %}
            {% assign industry_class = industry_class | replace: '/', '-' %}
                <div class="col-sm-3 col-xs-6 mg-top-25 person-box {{ industry_class }}" {% if person.['Age'] > 0  %} data-age="{{ age_number }}" {% endif %}  
                    {% if person.['Generosity'] != 0 %} data-generosity="{{ generosity_number }}" {% endif %}   
                    {% if person.['Industry'] != 0 %} data-industry="{{ industry_number }}" {% endif %} 
                    {% if focuses != '' %} data-focus="{{ focus_number }}" {% endif %}

                    {% if person.['Education'] != 0 %} data-education="{{ education_number }}" {% endif %} 
                    {% if person.['Environment'] != 0 %} data-environment="{{ environment_number }}" {% endif %} 
                    {% if person.['Healthcare'] != 0 %} data-healthcare="{{ healthcare_number }}" {% endif %} 
                    {% if person.['Social Welfare'] != 0 %} data-social="{{ social_number }}" {% endif %} 
                    {% if person.['Disaster Relief'] != 0 %} data-disaster="{{ disaster_number }}" {% endif %} 
                    {% if person.['Culture'] != 0 %} data-culture="{{ culture_number }}" {% endif %} 

                    id="person-container-{{ person.['Ranking'] }}">
                    <div class="circle">
                        <div class="circle-text">
                            <div>
                                <div>{{ b }}</div>
                                <h4>{{ person.['Name CN'] }} </h4>
                                {% if person.['Total Amount (million Yuan)'] < 100 %}
                                    <div>{{ person.['Total Amount (million Yuan)'] }}00万元</div>
                                {% else %}
                                    {% assign base_amount = person.['Total Amount (million Yuan)'] | divided_by: 100 %}
                                    {% assign base_hun = base_amount | times: 100 %}
                                    {% assign mod_amount = person.['Total Amount (million Yuan)'] | minus: base_hun %}
                                    {% if mod_amount == 0%}                                        
                                        <div>{{ base_amount }}亿元</div>
                                    {% elsif mod_amount < 10 %}
                                        <div>{{ base_amount }}.0{{ mod_amount }}亿元</div>
                                    {% endif %}    
                                    {% if mod_amount >= 10 %}
                                        <div>{{ base_amount }}.{{ mod_amount }}亿元</div>
                                    {% endif %}   
                                {% endif %}                                
                            </div>
                        </div>
                        <div class="details">
                            <div class="content">
                                <ul class="no-bullets">
                                    {% if person.['Age'] > 0 %}
                                        <li><span class="text-muted">年龄</span> {{ person.['Age'] }}</li>
                                    {% endif %}     
                                    {% if person.['Generosity'] != 0 %}                           
                                        <li><span class="text-muted">慷慨指数</span> {{person.['Generosity']}}</li>
                                    {% endif %}     
                                    {% if person.['From Province'] != 0 %}  
                                        <li><span class="text-muted">位置</span> {{ person.['Province CN'] }}</li>
                                    {% endif %} 
                                    <li><span class="text-muted">行业</span> {{ person.['Industry CN'] }}</li>
                                    <li><span class="text-muted">关注领域</span> {{ focuses }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>            
            {% assign i = i | plus: 1 %} 
            {% if a == 9%}
                {% assign a = 0 %}
            {% else %}
                {% assign a = a | plus: 1 %} 
            {% endif %}
            {% assign b = b | plus: 1 %}
            {% if focuses != '' %}
                {% assign focus_number = focus_number | plus: 1  %}
            {% endif %}   
            {% if person.['Generosity'] != 0 %}
                {% assign generosity_number = generosity_number | plus: 1  %}
            {% endif %} 
            {% if person.['Industry'] != 0 %}
                {% assign industry_number = industry_number | plus: 1  %}
            {% endif %} 
            {% if person.['Age'] > 0 %}
                {% assign age_number = age_number | plus: 1  %}
            {% endif %} 

            {% if person.['Education'] > 0 %}
                 {% assign education_number = education_number | plus: 1  %}
            {% endif %}
            {% if person.['Environment'] > 0 %}
                 {% assign environment_number = environment_number | plus: 1  %}
            {% endif %}
            {% if person.['Healthcare'] > 0 %}
                 {% assign healthcare_number = healthcare_number | plus: 1  %}
            {% endif %}
            {% if person.['Social Welfare'] > 0 %}
                 {% assign social_number = social_number | plus: 1  %}
            {% endif %}
            {% if person.['Disaster Relief'] > 0 %}
                 {% assign disaster_number = disaster_number | plus: 1  %}
            {% endif %}
            {% if person.['Culture'] > 0 %}
                 {% assign culture_number = culture_number | plus: 1  %}
            {% endif %}

        {% endfor %}
                <div class="col-sm-3 col-xs-6 mg-top-25 person-box other" id="">
                    <div class="circle">
                        <div class="circle-text">
                            <div>
                                <div>100</div>
                                <h4>何巧女</h4>
                                <div>29亿元（捐赠承诺）</div>
                            </div>
                        </div>
                        <div class="details">
                            <div class="content">
                                <ul class="no-bullets">
                                    <li><span class="text-muted">年龄</span> 49</li>                        
                                    <li><span class="text-muted">慷慨指数</span> N.A.</li>
                                    <li><span class="text-muted">位置</span> 北京</li>
                                    <li><span class="text-muted">行业</span> 其他</li>
                                    <li><span class="text-muted">关注领域</span> 教育, 环保</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> 

        </div>

    </div>
</section>