---
layout: default
title: 中国慈善--艾什民主治理与创新中心
excerpt: 在2014年9月至2015年8月之间中国大陆前100名慈善家。哈佛肯尼迪学院艾什民主治理与创新中心研究。
language: cn
---
   
<header class="">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>中国慈善</h1>
            <hr>
            <p>哈佛大学艾什民主治理与创新中心首次发布2015年度中国大陆前100名慈善家报告。</p>
            <a href="charts.html" class="btn btn-primary btn-xl">View Charts</a>
            <br>
            <a href="#overview" class="lrn-mr-btn page-scroll">
                浏览更多<br>
                <i class="fa fa-angle-down"></i>
            </a>
        </div>
    </div>
</header>

<section id="overview" class="overview bg-dark bg-image wow fadeIn">
    <div class="background-image"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">2015年回顾</h2>
                <hr class="light">
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-8 col-md-offset-2 wow fadeIn">
                <p>T本报告力图以全面严谨的方式，对中国大陆前100名慈善家在2014年9月至2015年8月间的捐赠数量、对象、方式及其他一系列研究指标进行梳理和研究。</p>
            </div>
        </div>
        <div class="row text-center metrics mg-top-50">
            <div class="col-sm-4 wow zoomIn">
                <p class="metric-lg">100</p>
                <p>位个人</p>
            </div>
            <div class="col-sm-4 wow zoomIn">
                <p class="metric-lg">24亿</p>
                <p>捐赠总额</p>
            </div>
            <div class="col-sm-4 wow zoomIn">
                <p class="metric-lg">0.03%</p>
                <p>2014年中国GDP占比</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <ul class="key-findings mg-top-50">
                    <li class="wow fadeIn" data-wow-delay="0s">前100位慈善家捐赠总量占2014年全国捐赠总额的四分之一。</li>
                    <li class="wow fadeIn" data-wow-delay=".1s">22位个人首次进入中国慈善前100名。</li>
                    <li class="wow fadeIn" data-wow-delay=".19s">平均捐赠额为XXX元；中位数是XXX元。</li>
                    <li class="wow fadeIn" data-wow-delay=".265s">房地产业产生的慈善家数量最多</li>
                    <li class="wow fadeIn" data-wow-delay=".32s">四位个人捐赠股票或期权，包括承诺捐赠数量最多的两位：马云和何巧女。</li>
                    <li class="wow fadeIn" data-wow-delay=".35s">十位慈善家在海外进行捐助；超过四分之一的慈善家拥有自己的基金会</li>
                    <li class="wow fadeIn" data-wow-delay=".37s">前百位慈善家平均年龄为54岁。</li>
                </ul>
            </div>
        </div>      
    </div> 
</section>

<section id="most-generous">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">最慷慨个人</h2>
                <hr class="">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-xs-6 text-center">
                <div class="service-box">
                    <h3>何享健</h3>
                    <img src="{{ "/img/people/he_xiangjian.jpg" | prepend: site.baseurl }}" class="person wow fadeIn" alt="He Xiangjian">
                    <p class="text-muted">常年热衷慈善的何享健以4亿元人民币的捐赠额位居榜首。何享健通过以他命名的基金会为家乡顺德捐建了一所敬老院和一个公园，相当于其持有的美的集团市值的1%。</p>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 text-center">
                <div class="service-box">
                    <h3>王苗通</h3>
                    <img src="{{ "/img/people/wang_miaotong.jpg" | prepend: site.baseurl }}" class="person wow fadeIn" alt="Wang Miaotong" style="object-fit: cover;">
                    <p class="text-muted">浙江华通控股董事长王苗通在慷慨指数上名列榜首。他捐资1亿元人民币为家乡浙江上虞新建一座体育场，捐资额占其持有世纪华通股份的5.61%。 </p>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 text-center">
                <div class="service-box">
                    <h3>马云</h3>
                    <img src="{{ "/img/people/jack_ma.jpg" | prepend: site.baseurl }}" class="person wow fadeIn" alt="Jack Ma">
                    <p class="text-muted">马云于2014年9月作出中国慈善史上最大一笔个人捐赠承诺，约合阿里巴巴上市时其持有股份数的18%。</p>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 text-center">
                <div class="service-box">
                    <h3>何巧女</h3>
                    <img src="{{ "/img/people/he_qiaonv.jpg" | prepend: site.baseurl }}" class="person wow fadeIn" alt="He Qiaonv">
                    <p class="text-muted">东方园林董事长何巧女承诺捐出其持有的东方园林价值29亿元的股票，占她持有股票总数的26%，成为以捐赠承诺计最慷慨的慈善家。</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center mg-top-25">
                <a href="charts.html?generosity" class="btn btn-primary btn-xl">查看全部</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-muted mg-top-50">
                <p><small>注：出于计算精确度考虑，慷慨指数目前只纳入拥有上市公司资产的慈善家。持股情况以及股价以2014财年最后一个交易日为准。</small></p>
            </div>
        </div>
    </div>
</section>

<section id="location" class="location bg-dark bg-image wow fadeIn">
    <div class="background-image zoomable"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h2 class="section-heading wow bounce" data-wow-delay=".1s"><i class="fa fa-map-marker"></i> 广东 ：慈善之乡</h2>
                <hr class="light">
                <div class="wow zoomIn" data-wow-delay=".1s">
                    <p>广东产生了21位上榜慈善家，因而成为最慷慨的省份。家电生产商美的集团创始人何享健在12个月时间里，共实际捐赠4亿元，引领各路群英。上榜100名慈善家共分布在21个省市。排在广东之后的是北京（16人）、浙江（11人）和福建（8人）。</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container-fluid">
    <div id="equalcols" class="row no-gutter">
        <div class="col-sm-6">
            <section class="top-industry bg-dark bg-image wow fadeIn" id="industries">
                <div class="background-image zoomable"></div>
                <div class="container-fluid text-center">
                    <div class="row">
                        <div class="col-lg-10 col-lg-offset-1">
                            <h2 class="section-heading wow bounce"><i class="fa fa-building"></i> 房地产：贡献最大</h2>
                            <hr class="light">
                            <p class="wow zoomIn">中国蓬勃发展的房地产行业造就了最多的慈善家。32位上榜慈善家的核心业务是房地产，几乎是第二多行业制造业（18人）的两倍。消费（15人）和科技（14人）领域涌现的慈善家分列第三和第四位。</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-sm-6">
            <section class="hot-sector bg-dark bg-image wow fadeIn" id="sectors">
                <div class="background-image zoomable"></div>
                <div class="container-fluid text-center">
                    <div class="row">
                        <div class="col-lg-10 col-lg-offset-1">
                            <h2 class="section-heading wow bounce"><i class="fa fa-graduation-cap"></i> 教育：受益最多</h2>
                            <hr class="light">
                            <p class="wow zoomIn">教育是受捐赠最多的领域，共有81人捐赠给各类学校及学生，共有八所大学收到至少1亿元的捐赠。扶贫及社会福利是受益第二多的领域（62人），再次是救灾（35人）。</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<section id="government" class="government bg-dark bg-image">
    <div class="background-image zoomable"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h2 class="section-heading wow bounce" data-wow-delay=".1s"><i class="fa fa-university"></i> 政府：受信任</h2>
                <hr class="light">
                <div class="wow zoomIn" data-wow-delay=".1s">
                    <p>虽然近年来与政府相关的慈善机构频现丑闻，其公信力受损，但仍有40%的慈善家选择对政府或政府支持的公益机构进行捐赠，体现了慈善家对政府的信赖。</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="gender">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">性别不平衡</h2>
                <hr class="">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row pull-down-wrapper">
            <div class="col-sm-6 text-center">
                <div class="gender-icons-container mg-top-50">
                  
                  {% assign a = 0 %}
                  {% for i in (1..89) %}

                    {% if a < 10 %}
                    <i class="fa fa-male wow bounceIn text-primary" data-wow-delay=".0{{ a }}s"></i>
                    {% else %}
                    <i class="fa fa-male wow bounceIn text-primary" data-wow-delay=".{{ a }}s"></i>{% if a == 17 or a == 35 or a == 53 or a == 71 %}<br>{% endif %}

                    {% endif %}
                    {% assign a = a | plus: 1 %}

                  {% endfor %}

                    <h3>89位慈善家为男性</h3>
                </div>
            </div>
            <div class="col-md-6 text-center pull-down">
                <div class="gender-icons-container mg-top-50">
                  
                  {% assign a = 0 %}
                  {% for i in (1..11) %}
                    
                    <i class="fa fa-female wow bounceIn text-primary" data-wow-delay="{{ a | divided_by: 10 }}.{{ a | modulo: 10 }}s"></i>
                    {% assign a = a| plus: 1 %}

                  {% endfor %}

                  <h3>11为慈善家为女性</h3>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">关于本研究</h2>
                <hr class="light">
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1 wow fadeIn">
                <p>私人财富的快速增长是现代中国最为重要的成就之一，并对社会、经济和政治等方面产生深远影响。富有人群如何选择配置他们的财富，将会改变个人与国家、国家与企业以及国家与社会部门之间的种种关系。</p>
                <p>本研究旨在通过分析中国最富有阶层的捐赠行为，来提供对中国慈善领域研究的一个全新视角。研究结果来源于各种公开信源，包括媒体报道、公司网站、企业公告和行业刊物，绝大多数获得捐赠人或其代表，以及受助方和独立第三方机构的核实。</p>
                <p>我们相信，建立起一个独立、准确、为研究所用的中国慈善数据库，将有助于对行业进行量化研究，并产生可被政府、学界、媒体和非盈利组织广泛运用的一系列指标。</p>
            </div>
            <div class="col-md-5 wow fadeIn">
                <p>本网站今后将每年进行更新。2015年报告由以下人员完成：魏沛然（哈佛大学肯尼迪政府学院，2015级公共管理硕士）、郭紫佳（塔夫茨大学弗莱彻学院，2015级国际商业硕士）、吴沁沁（哈佛大学设计学院，2015级设计学硕士）、张翠梅（哈佛大学教育学院，2015级教育硕士）和Evan Kornbluh（哈佛大学肯尼迪政府学院／哈佛商学院，公共政策硕士／工商管理硕士在读）。</p>
                <img src="{{ "/img/john-harvard-statue.jpg" || prepend: site.baseurl }}" alt="Research team">
            </div>
        </div>
    </div>
</section>