---
layout: default
title: 中国慈善--艾什民主治理与创新中心
excerpt: 在2014年9月至2015年8月之间中国大陆前100名慈善家。哈佛肯尼迪学院艾什民主治理与创新中心研究。
language: cn
---
   
<header class="">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>中国慈善</h1>
            <hr>
            <p>哈佛大学艾什民主治理与创新中心首次发布2015年度中国大陆前100名慈善家报告。</p>
            <a href="charts.html" class="btn btn-primary btn-xl">查看图表 <i class="fa fa-bar-chart"></i></a>
            <a href="maps.html" class="btn btn-primary btn-xl">查看地图 <i class="fa fa-globe"></i></a>
            <br>
            <a href="#overview" class="lrn-mr-btn page-scroll">
                浏览更多<br>
                <i class="fa fa-angle-down"></i>
            </a>
        </div>
    </div>
</header>

<section id="overview" class="overview bg-dark bg-image wow fadeIn">
    <div class="background-image"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">2015年回顾</h2>
                <hr class="light">
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-8 col-md-offset-2 wow fadeIn">
                <p>本报告力图以全面严谨的方式，对中国大陆前100名慈善家在2014年9月至2015年8月间的捐赠数量、对象、方式及其他一系列研究指标进行梳理和研究。</p>
            </div>
        </div>
        <div class="row text-center metrics mg-top-50">
            <div class="col-sm-4 wow zoomIn">
                <p class="metric-lg">100</p>
                <p>位个人</p>
            </div>
            <div class="col-sm-4 wow zoomIn">
                <p class="metric-lg">238亿元</p>
                <p>捐赠总额 <small data-toggle="tooltip" title="包括以下四位慈善家所作的捐赠承诺：马云、何巧女、李河君和周旭洲。"><i class="fa fa-info-circle"></i></small></p>
            </div>
            <div class="col-sm-4 wow zoomIn">
                <p class="metric-lg">0.03%</p>
                <p>2014年中国GDP占比</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <ul class="key-findings mg-top-50">
                    <li class="wow fadeIn" data-wow-delay="0s">前100位慈善家捐赠总量占2014年全国捐赠总额的四分之一。 <small data-toggle="tooltip" title="数据来源：中华人民共和国民政部《2014年社会服务发展统计公报》。"><i class="fa fa-info-circle"></i></small></li>
                    <li class="wow fadeIn" data-wow-delay=".1s">24位慈善家首次进入中国慈善前100名。</li>
                    <li class="wow fadeIn" data-wow-delay=".19s">平均捐赠额为5,200万元；中位数是2,000万元。</li>
                    <li class="wow fadeIn" data-wow-delay=".265s">房地产业产生的慈善家数量最多。</li>
                    <li class="wow fadeIn" data-wow-delay=".32s">二位慈善家做出股票或期权的捐赠承诺。他们是：马云和何巧女。</li>
                    <li class="wow fadeIn" data-wow-delay=".35s">三位慈善家在海外进行捐助；19人拥有自己的基金会。</li>
                    <li class="wow fadeIn" data-wow-delay=".37s">前百位慈善家平均年龄为54岁。</li>
                </ul>
            </div>
        </div>   
    </div> 
</section>

<section id="most-generous">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">慈善领袖</h2>
                <hr class="">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-6 text-center">
                <div class="service-box">
                    <h3>何享健</h3>
                    <img src="{{ "/img/people/he_xiangjian.jpg" | prepend: site.baseurl }}" class="person wow fadeIn" alt="He Xiangjian">
                    <p class="text-muted">何享健：常年热衷慈善的何享健以4亿元人民币的捐赠额位居榜首。以他命名的基金会为家乡顺德捐建了一所敬老院和一个公园</p>
                </div>
            </div>
            <div class="col-xs-6 text-center">
                <div class="service-box">
                    <h3>王苗通</h3>
                    <img src="{{ "/img/people/wang_miaotong.jpg" | prepend: site.baseurl }}" class="person wow fadeIn" alt="Wang Miaotong" style="object-fit: cover;">
                    <p class="text-muted">王苗通：浙江华通控股董事长王苗通在慷慨指数上名列榜首。他捐资1亿元为家乡浙江上虞新建了一座体育馆。<small data-toggle="tooltip" title="注：出于计算精确度考虑，慷慨指数目前只纳入拥有上市公司资产的慈善家。持股情况以及股价以2014财年最后一个交易日为准。"><i class="fa fa-info-circle"></i></small></p>
                </div>
            </div>
        </div>
        <hr class="mg-top-25">
        <div class="row">
            <div class="col-xs-6 text-center">
                <div class="service-box">
                    <h3>马云</h3>
                    <img src="{{ "/img/people/jack_ma.jpg" | prepend: site.baseurl }}" class="person wow fadeIn" alt="Jack Ma">
                    <p class="text-muted">马云：马云在2014年阿里巴巴上市承诺捐赠其持有股份数的15%，成为中国慈善史上最大一笔个人捐赠承诺。</p>
                </div>
            </div>
            <div class="col-xs-6 text-center">
                <div class="service-box">
                    <h3>何巧女</h3>
                    <img src="{{ "/img/people/he_qiaonv.jpg" | prepend: site.baseurl }}" class="person wow fadeIn" alt="He Qiaonv">
                    <p class="text-muted">何巧女：何巧女于2015年承诺捐出其持有的东方园林价值29亿元的股票，占持股总数的26%。因尚未产生实际捐赠，故未列入此次榜单。</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center mg-top-25">
                <a href="charts.html?generosity" class="btn btn-primary btn-xl">查看全部</a>
            </div>
        </div>
    </div>
</section>

<section id="location" class="location bg-dark bg-image wow fadeIn">
    <div class="background-image zoomable"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h2 class="section-heading wow bounce" data-wow-delay=".1s"><i class="fa fa-map-marker"></i> 广东 ：慈善之乡</h2>
                <hr class="light">
                <div class="wow zoomIn" data-wow-delay=".1s">
                    <p>广东产生了21位上榜慈善家，捐赠总额接近110亿元，因而成为最慷慨的省份。家电生产商美的集团创始人何享健共宣布捐赠4亿元，引领各路群英。</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container-fluid">
    <div id="equalcols" class="row no-gutter">
        <div class="col-sm-6">
            <section class="top-industry bg-dark bg-image wow fadeIn" id="industries">
                <div class="background-image zoomable"></div>
                <div class="container-fluid text-center">
                    <div class="row">
                        <div class="col-lg-10 col-lg-offset-1">
                            <h2 class="section-heading wow bounce"><i class="fa fa-building"></i> 房地产：贡献最大</h2>
                            <hr class="light">
                            <p class="wow zoomIn">中国蓬勃发展的房地产行业造就了最多的慈善家。30位上榜慈善家的核心业务是房地产，其次是制造业（19人），消费（14人）和科技（13人）。</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-sm-6">
            <section class="hot-sector bg-dark bg-image wow fadeIn" id="sectors">
                <div class="background-image zoomable"></div>
                <div class="container-fluid text-center">
                    <div class="row">
                        <div class="col-lg-10 col-lg-offset-1">
                            <h2 class="section-heading wow bounce"><i class="fa fa-graduation-cap"></i> 教育：受益最多</h2>
                            <hr class="light">
                            <p class="wow zoomIn">教育是受捐赠最多的领域，共有59人捐赠给各类学校及学生。共有八所大学收到至少1亿元的捐赠。扶贫/社会福利是受益第二多的领域（52人），再次是救灾（8人）和医疗（8人）。</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<section id="government" class="government bg-dark bg-image">
    <div class="background-image zoomable"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h2 class="section-heading wow bounce" data-wow-delay=".1s"><i class="fa fa-university"></i> 政府</h2>
                <hr class="light">
                <div class="wow zoomIn" data-wow-delay=".1s">
                    <p>大约近六成的慈善家（57人）选择对政府或政府支持的公益机构进行捐赠。</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="gender">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">性别比较</h2>
                <hr class="">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row pull-down-wrapper">
            <div class="col-sm-6 text-center">
                <div class="gender-icons-container mg-top-50">
                  
                  {% assign a = 0 %}
                  {% for i in (1..89) %}

                    {% if a < 10 %}
                    <i class="fa fa-male wow bounceIn text-primary" data-wow-delay=".0{{ a }}s"></i>
                    {% else %}
                    <i class="fa fa-male wow bounceIn text-primary" data-wow-delay=".{{ a }}s"></i>{% if a == 17 or a == 35 or a == 53 or a == 71 %}<br>{% endif %}

                    {% endif %}
                    {% assign a = a | plus: 1 %}

                  {% endfor %}

                    <h3>89位男性</h3>
                </div>
            </div>
            <div class="col-md-6 text-center pull-down">
                <div class="gender-icons-container mg-top-50">
                  
                  {% assign a = 0 %}
                  {% for i in (1..11) %}
                    
                    <i class="fa fa-female wow bounceIn text-primary" data-wow-delay="{{ a | divided_by: 10 }}.{{ a | modulo: 10 }}s"></i>
                    {% assign a = a| plus: 1 %}

                  {% endfor %}

                  <h3>11位女性</h3>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">关于本研究</h2>
                <hr class="light">
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1 wow fadeIn">
                <p>私人财富的快速增长是现代中国最为重要的成就之一，并对社会、经济和政治等方面产生深远影响。富有人群如何选择配置他们的财富，将会改变个人与国家、国家与企业以及国家与社会部门之间的种种关系。</p>
                <p>本研究旨在通过分析中国最富有阶层的捐赠行为，来提供对中国慈善领域研究的一个全新视角。研究结果来源于各种公开信源，包括媒体报道、公司网站、企业公告和行业刊物，绝大多数获得捐赠人或其代表，以及受助方和独立第三方机构的核实。</p>
                <p>我们相信，建立起一个独立、准确、为研究所用的中国慈善数据库，将有助于对行业进行量化研究，并产生可被政府、学界、媒体和非盈利组织广泛运用的一系列指标。</p>
            </div>
            <div class="col-md-5 wow fadeIn">
                <p>本网站今后将每年进行更新。2015年报告由以下人员完成：魏沛然（哈佛大学肯尼迪政府学院，2015级公共管理硕士）、郭紫佳（塔夫茨大学弗莱彻学院，2015级国际商业硕士）、吴沁沁（哈佛大学设计学院，2015级设计学硕士）、张翠梅（哈佛大学教育学院，2015级教育硕士）和Evan Kornbluh（哈佛大学肯尼迪政府学院／哈佛商学院，公共政策硕士／工商管理硕士在读）。</p>
                <img src="{{ "/img/john-harvard-statue.jpg" || prepend: site.baseurl }}" alt="Research team">
            </div>
        </div>
    </div>
</section>