<!DOCTYPE html>
<html lang="{% if page.language == 'en' %}en{% elsif page.language == 'cn' %}zh-Hans{% endif %}">

  {% include head.html %}

  <body id="page-top">

    {% include header-charts.html %}

    {{ content }}

    {% include footer.html %}

    {% include shared-js.html %}

    <script src="{{ "/js/chart-data.js" | prepend: site.baseurl }}"></script>

    <!-- Add map data and generators on maps page -->    
    {% if page.type == 'maps' %}
    <script src="{{ "/js/raphael-min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/jquery.mapael.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/china_map.js" | prepend: site.baseurl }}"></script>
    {% endif %}
    
    <script src="{{ "/js/custom.js" | prepend: site.baseurl }}"></script>
    
    <!-- Init maps on maps page -->    
    {% if page.type == 'maps' %}
    <script src="{{ "/js/maps_helper.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/maps_init.js" | prepend: site.baseurl }}"></script>
    {% endif %}

  </body>

</html>